@import url(http://fonts.googleapis.com/css?family=Open+Sans:700);
@font-face {
  font-family: Poppins-Regular;
  src: url('../fonts/poppins/Poppins-Regular.ttf'); 
}

@font-face {
  font-family: Poppins-Bold;
  src: url('../fonts/poppins/Poppins-Bold.ttf'); 
}

@font-face {
  font-family: Poppins-Medium;
  src: url('../fonts/poppins/Poppins-Medium.ttf'); 
}

@font-face {
  font-family: Montserrat-Bold;
  src: url('../fonts/montserrat/Montserrat-Bold.ttf'); 
}


body {
  background-color: 	#141d26;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #363795, #005C97);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #363795, #005C97);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: cover;
  font-family: Poppins-Regular;
}

.dashboard .btn-circle.btn-xl {
  width: 250px;
  height: 250px;
  padding: 10px 16px;
  border-radius: 200px;
  font-size: 24px;
  line-height: 1.33;
  -webkit-box-shadow: 13px 15px 35px -7px rgba(0,0,0,0.75);
  -moz-box-shadow: 13px 15px 35px -7px rgba(0,0,0,0.75);
  box-shadow: 13px 15px 35px -7px rgba(0,0,0,0.75);
}

.dashboard .btn-circle {
  width: 30px;
  height: 30px;
  padding: 6px 0px;
  border-radius: 15px;
  text-align: center;
  font-size: 12px;
  line-height: 1.42857;
}

.btn-primary {
  background: white;
  color: #212121;
}

.btn-primary:hover {
  color: #212121;
  background-color: pink;
}


/*LOGIN*/
body#LoginForm {
  background-position: center;
  background-size: cover;
  padding: 10px;
}

img {
  border: 1px solid #ddd559;
}

.login-div label {
  color: black;
}

.login-form .form-control {
  background: #f7f7f7 none repeat scroll 0 0;
  border: 1px solid #d4d4d4;
  border-radius: 4px;
  font-size: 14px;
  height: 45px;
  line-height: 50px;
}

.login-div {
  background: #444444 none repeat scroll 0 0;
  border-radius: 20px;
  margin: 10px auto 30px;
  max-width: 60%;
  padding: 50px 70px 70px 71px;
}

.login-form .form-group {
  margin-bottom: 15px;
  text-align: left;

}

/*.login-form{text-align:center;}*/

.login-form .btn.btn-primary {
  background: #800015 none repeat scroll 0 0;
  border-color: #800015;
  color: #ffffff;
  font-size: 14px;
  width: 100%;
  height: 50px;
  line-height: 50px;
  padding: 0;
}

.forgot {
  text-align: left;
  margin-bottom: 30px;
}

.forgot a {
  color: #777777;
  font-size: 14px;
  text-decoration: underline;
}

/*SCAN.HTML*/
.scan {
  margin-top: 90px;

}

.tap a {
  font-size: 30px;
  text-align: center;
  color: #444444;
  text-decoration: none;
}

.img-circle {
  border: 4px solid #6e6e6e;
  padding: 10px;
  margin-bottom: 25px;
}


.tap .btn-primary {
  background: #6e6e6e;
  color: #ffffff;
}

/*REGISTRATION.HTML*/
.registration-container {
  margin-top: 2.5%;
  margin-bottom: 5%;
}

.registration-contai {
  text-align: center;
}

.registration-form-1 {
  padding: 5%;
  /*box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);*/
}

.registration-form-1 h3 {
  text-align: center;
  color: #333;

}

.registration-form-1 .form-group {
  margin-bottom: 2px;
  text-align: left;
}

.registration-container .form-control {
  background: #6e6e6e none repeat scroll 0 0;
  border: 1px solid #6e6e6e;
  border-radius: 10px;
  font-size: 14px;
  height: 45px;
  color: #f7f7f7;
  line-height: 50px;
}

.registration-container .btn-scan {
  background: #6e6e6e;
  color: #ffffff;
  margin-bottom: 10px;
  height: 45px;
  border-radius: 10px;
  margin-top: 15px;
}

.registration-container .btn-scan:hover {
  color: #212121;
  height: 45px;
  border-radius: 10px;
  background-color: #767676;
}

.registration-container .btn-register {
  background: #800015;
  color: #ffffff;
  margin-bottom: 10px;
  margin-top: 15px;
}

.registration-image {
  padding: 5%;
  background: #767676;
  text-align: center;
}

.registration-image .image {
  height: 250px;
  width: 250px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  margin-top: 50px;
}

a {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

a:link {
  text-decoration: none;
}


.dropbtn {
  text-align: center;
  background-color: #687eec;
  color: white;
  padding-top: 7px;
  padding-right: 7px;
  padding-left: 7px;
  padding-bottom: 10px;
  font-size: 13px;
  font-family: 'Open Sans', sans-serif;
  border-color: #d0d0d0;
  cursor: pointer;
    height: 35px;
  width:100px;

}

.dropdown {
  position: relative;
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  padding-top: 7px;
  padding-right: 7px;
  padding-left: 7px;
  padding-bottom: 0;

}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 100px;
  box-shadow: 0 8px 16px 0
  rgba(0,0,0,0.2);
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
    display: block;
}

.dropdown-content,
a:hover{
    background-color: #e0e0e0
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #a7d4ff;
}


#cssmenu {
  position: fixed;
  background-color: #343434;
  width: 100%;
}
#cssmenu a {
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 20px 20px;
  text-decoration: none;
  font-size: 17px;
  margin: 1px 2px;
  cursor: pointer;
}
#cssmenu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 1;
  display: block;
  zoom: 1;
}
#cssmenu ul:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
#cssmenu ul li {
  display: inline-block;
  padding: 0;
  margin: 0;
}
#cssmenu.align-right ul li {
  float: right;
}
#cssmenu.align-center ul {
  text-align: center;
}
#cssmenu ul li a {
  color: #ffffff;
  text-decoration: none;
  display: block;
  padding: 15px 25px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  position: relative;
  -webkit-transition: color .25s;
  -moz-transition: color .25s;
  -ms-transition: color .25s;
  -o-transition: color .25s;
  transition: color .25s;
}
#cssmenu ul li a:hover {
  color: #687eec;
  background: transparent;
}
#cssmenu ul li a:hover:before {
  width: 100%;
}
#cssmenu ul li a:after {
  content: "";
  display: block;
  position: absolute;
  right: -3px;
  top: 19px;
  height: 6px;
  width: 6px;
  background: #ffffff;
  opacity: .5;
}
#cssmenu ul li a:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 0;
  background: #687eec;
  -webkit-transition: width .25s;
  -moz-transition: width .25s;
  -ms-transition: width .25s;
  -o-transition: width .25s;
  transition: width .25s;
}
#cssmenu ul li.last > a:after,
#cssmenu ul li:last-child > a:after {
  display: none;
}
#cssmenu ul li.active a {
  color: #333333;
}
#cssmenu ul li.active a:before {
  width: 100%;
}
#cssmenu.align-right li.last > a:after,
#cssmenu.align-right li:last-child > a:after {
  display: block;
}
#cssmenu.align-right li:first-child a:after {
  display: none;
}
@media screen and (max-width: 768px) {
  #cssmenu ul li {
    float: none;
    display: block;
  }

  #cssmenu ul li a {
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom: 1px solid #fb998c;
  }

  #cssmenu ul li.last > a,
  #cssmenu ul li:last-child > a {
    border: 0;
  }

  #cssmenu ul li a:after {
    display: none;
  }

  #cssmenu ul li a:before {
    display: none;
  }
}

body {
    background-image: url("dark.jpg");
    background-repeat: no-repeat;
    background-position: right top;
}

#viewbuttons {
    box-shadow: 5px 5px 3px #363636;
    background-color: #a2a2a2;
}

.btn-primary, .btn {
    box-shadow: 5px 5px 3px grey;
    background-color:white;
    border: none;
}
.btn-primary:hover {
    background-color: #343434;
    color: #687eec;
}

ol li {
    color: #d4d4d4;
}

#tables {
    background-color: #a2a2a2;
}

#clock {
    color: #a2a2a2;
}

#button_text {
  text-decoration: none; 
  color:black;
}

#body {
  overflow: hidden;
  background-color: #141d26;
}