
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Events</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="../static/js/attendance.js"></script>
<!--===============================================================================================-->	
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/vendor/animate/animate.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/vendor/select2/select2.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/vendor/perfect-scrollbar/perfect-scrollbar.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/css/util.css">
	<link rel="stylesheet" type="text/css" href="../static/css/students.css">
<!--===============================================================================================-->
</head>
<body>
	<div class="limiter">
		
		<div class="container-table100">
			
			<div class="wrap-table100">
					<a href="/homepage" class="btn btn-primary a-btn-slide-text">
						<span class="glyphicon glyphicon-step-backward" aria-hidden="true"></span>
						<span><strong>Go Back</strong></span>            
					</a>	
				
				<a href="/events/add_event" class="btn btn-primary a-btn-slide-text" style="margin-left: 960px;">
							<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
							<span><strong>Add Event</strong></span>            
						</a>	
						<br>	<br>
				<div class="table100 ver1 m-b-110">
					<div class="table100-head">
						<table>
							<thead>
								<tr class="row100 head">
									<th class="cell100 column1">Event Name</th>
									<th class="cell100 column2">Event Description</th>
									<th class="cell100 column3">Event Date</th>
									<th class="cell100 column4">Event Fines</th>
									<th class="cell100 column4">Actions</th>
		
								</tr>
							</thead>
						</table>
					</div>

					<div class="table100-body js-pscroll">
						
						<table>
							<tbody>
                  {% for events in data  %}
								<tr class="row100 body">
									<td class="cell100 column1" >{{ events.eventname }} </td>
									<td class="cell100 column2">{{ events.eventdescription }}</td>
									<td class="cell100 column3">{{ events.eventdate }}</td>
									<td class="cell100 column4">{{ events.eventfines }}</td>
									<td class="cell100 column5"> 
										
										<a href="/attendance_type/{{events.eventID}}" class="btn btn-primary a-btn-slide-text">	
											<span class="	glyphicon glyphicon-book" aria-hidden="true"></span>
											<span><strong>Start Attendance</strong></span>            
											
										 </a>
										 <br><br>

										<a href="/events/attendance/{{ events.eventID }}" class="btn btn-primary a-btn-slide-text">	
											<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
											<span><strong>Check Attendance</strong></span>            
											
										 </a>
										 <br> <br>

											<a href="/events/delete/{{events.eventID}}" class="btn btn-primary a-btn-slide-text" onclick='confirm("Are you sure you want to delete {{events.eventname}}")'>	
														<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
														 <span><strong>Delete</strong></span>            
													 </a>
													 <a href="/events/edit/{{events.eventID}}" class="btn btn-primary a-btn-slide-text">	
														<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
														 <span><strong>Edit</strong></span>            
													 </a>
									</td>

                </tr>
                {% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			
			</div>
		</div>
	</div>

<!--===============================================================================================-->	
	<script src="../static/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="../static/vendor/bootstrap/js/popper.js"></script>
	<script src="../static/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="../static/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="../static/vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
	<script>
		$('.js-pscroll').each(function(){
			var ps = new PerfectScrollbar(this);

			$(window).on('resize', function(){
				ps.update();
			})
		});
			
		
	</script>


	<script>
	


	</script>
<!--===============================================================================================-->
	<script src="../static/js/students.js"></script>

</body>
</html>