
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    {% if session['themeid']==0 %}
            <link id="pagestyle" rel="stylesheet" type="text/css" href="/static/homepage3.css">
    {% elif session['themeid']==1 %}
            <link id="pagestyle" rel="stylesheet" type="text/css" href="/static/homepage2.css">
    {% else %}
            <link id="pagestyle" rel="stylesheet" type="text/css" href="/static/homepage1.css">
    {% endif %}
   
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/button.css') }}"> -->
    <script type="text/javascript">
        function swapStylesheet(themeid,sheet){
            /*document.getElementById('pagestyle').setAttribute('href', sheet);*/
            $.ajax({
                url:"/swaptheme/"+themeid,
                method: "POST",
                success: function(resp){
                document.getElementById('pagestyle').setAttribute('href', sheet);
                //console.log(resp);
                    },
                error: function(resp){
                        }
                    }
                );
            }
    </script>
</head>
<body scroll="no" id = "body">
        <div class="dropdown" style="position: relative; left: 720px; margin-left:250px;">
                <button class="dropbtn"><span><i class="glyphicon glyphicon-cog" style="margin-right:0.5em"></i> THEMES</span></button>
                <div class="dropdown-content">
                  <a onclick="swapStylesheet(1,'/static/homepage2.css')" >Bright</a>
                  <a onclick="swapStylesheet(2,'/static/homepage1.css')" >Dark</a>
                  <a onclick="swapStylesheet(0,'/static/homepage3.css')">Default</a>
                </div>
              </div>
<center><div class="dashboard">
    <br>
    <button type="button" class="btn btn-primary btn-circle btn-xl" style="margin:20px;font-size: 18px;"><a href="/send_sms" id = "button_text"> <i class="glyphicon glyphicon-envelope"></i> <br> Sms Blast</a></button>
<button type="button" class="btn btn-primary btn-circle btn-xl" style="margin:20px;font-size: 18px;"><a href="/registration" id = "button_text"><i class="glyphicon glyphicon-list"></i> <br>  Register Student</a></button>
<button type="button" class="btn btn-primary btn-circle btn-xl" style="margin:20px;font-size: 18px;"><a href="/events" id = "button_text"><i class="glyphicon glyphicon-link"></i><br>  Event</a></button><br>   

<button type="button" class="btn btn-primary btn-circle btn-xl" style="margin:20px;font-size: 18px;"><a href="/students" id = "button_text" ><i class="glyphicon glyphicon-user" "></i><br> Students</a></button>
<button type="button" class="btn btn-primary btn-circle btn-xl" style="margin:20px;font-size: 18px;" ><a href="/collections" id = "button_text"><i class="glyphicon glyphicon-log-out"></i> <br>Collections</a></button>
<button type="button" class="btn btn-primary btn-circle btn-xl" style="margin:20px;font-size: 18px;" onclick="myFunction()"><a href="/logout" id = "button_text"><i class="glyphicon glyphicon-log-out"></i> <br> Log out</a></button>
</div></center>
<script>
    function myFunction() {
        confirm("Are you sure you want to leave? ")
    }
    
</script>
</body>
</html>