<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign In / Sign Out</title>
    <link rel="stylesheet" href="../static/css/style.css">
	<link rel="stylesheet" href="../static/fonts/material-design-iconic-font/css/material-design-iconic-font.css">
</head>
<body>

<!--     
    <form action="/attendance_type/{{eventID}}" method="post">
        <select name="singwhat" id="">
            <option value="IN">Sign In</option>
            <option value="OUT">Sign Out</option>
        </select>
        <input type="submit" value="submit">
    </form>


 -->

 <div class="wrapper">
		<div class = "back">
				<a href="/events" style="color: white;font-size:80px; "><</a>	
		</div>
	
		<form action="/attendance_type/{{eventID}}" method="POST" id="forms">
			<div id="wizard">
				<!-- SECTION 1 -->
				
				<section style = "text-align: center;"> 
                    <center><h1>Type of Attendance</h1> 
                    <p>Choose the type of attendance depending on the event</p></center>
                    <br><br><br>

					<div class="form-header1" style= "display: inline-block;">
                        <br>
						<div class="form-holder" style="width: 100%; " >
	                        <select class = "form-control" name="singwhat" id="">
                                    <option value="IN">Sign In</option>
                                    <option value="OUT">Sign Out</option>
                            </select>
                            <br><br><br>
                            <input type="submit" value="Submit" class = "submiteh">
                        </div>
					</div>
				</section>
			</div>
		</form>
	</div>


    
	<script src="../static/js/jquery-3.3.1.min.js"></script>
	<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.9/jquery.validate.js"></script>
	

	<!-- JQUERY STEP -->
	<script src="../static/js/jquery.steps.js"></script>

	<script type="text/javascript" src="../static/js/registration.js"></script>
	<script type="text/javascript" src="../static/js/main.js"></script>


</body>
</html>