{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Edit Event
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='signin.css')}}">
{% endblock %}

{% block content %}
    <div class="container">

      <form action="{{ url_for('edit_event', eventID=eventID) }}" method="POST" name="Login_Form" class="form-signin" role="form" autocomplete="off">
      	{% with msg = get_flashed_messages() %}
                {% if msg %}
                    {% for ms in msg %}
                        <p class="errormsg">{{ ms }}</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        <h2 class="form-signin-heading">Update Event</h2>
        {{ form.hidden_tag() }}
        {{ wtf.form_field(form.eventname, placeholder="Updated event name") }}
        {{ wtf.form_field(form.eventdate, placeholder="Updated event date") }}
        {{ wtf.form_field(form.eventdescription, placeholder="Updated event description") }}
        {{ wtf.form_field(form.eventfines, placeholder="Updated event fines") }}
        <button class="btn btn-lg btn-primary btn-block" type="submit">Update</button>
      </form>

    </div> <!-- /container -->
{% endblock %}